<app-statistics></app-statistics>
<mat-card>
    <mat-card-title>Lista de Préstamos</mat-card-title>
    <mat-card-subtitle>Todos los préstamos realizados</mat-card-subtitle>
    <mat-card-content>
        <mat-tab-group color="primary" backgroundColor="primary" animationDuration="0ms">
            <mat-tab *ngFor="let statusLoan  of statusLoans">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">{{statusLoan.icon}}</mat-icon>
                    {{statusLoan.label}}
                </ng-template>
                <ng-template matTabContent>
                    <app-table-loans [status]="statusLoan.status"></app-table-loans>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>