.main
    display: flex
    justify-content: center
    height: 100% !important
    color: white
.info
    margin-bottom: 40px

.container
    margin-top: 50px
    width: 70%
    margin-bottom: 40px
    background: #05445E
    padding: 20px
    border-radius: 20px

mat-form-field
    width: 100%

form
    h3
        margin-bottom: 0px
        font-size: 15px
        font-weight: 400

footer

.data
    width: 100%


