<mat-toolbar>
    <button (click)="toggle()" mat-icon-button color="primary">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="current_amount">
        <mat-icon color="primary">
            account_balance
        </mat-icon>
        <h2 >
            {{currentAmount | currency:'' : ''}}
        </h2>
    </span>
    <span class="spacer"></span>
    <a routerLink="/">
        <button mat-button color="primary">
            Logout
        </button>
    </a>

</mat-toolbar>