header
    margin-top: 15px

.data

    box-shadow: -4px 4px 7px 0px #394868
    padding: 10px

mat-form-field
    width: 100%

form
    h3
        margin-bottom: 0px
        font-size: 15px
        font-weight: 400


.main

    padding: 10px
    width: 100%
    height: auto
    word-wrap: break-word

mat-datepicker-toggle
    color: white !important

::placeholder, .mat-input-element:disabled
    color: gray
    opacity: 1
